@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;
  font-family: $typographic-font-basic;

  &__prev,
  &__next {
    &-link {
      color: $color-white-almost;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;

      &:hover svg,
      &:focus svg {
        color: $color-yellow;
      }

      &:hover,
      &:focus {
        color: $color-white-almost;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);
        display: flex;
        align-items: center;
      }
    }
  }

  &__prev {
    text-align: left;
  }

  &__next {
    text-align: right;
    margin-left: auto;
  }
}
