@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(1.25);
  display: flex;
  font-family: $typographic-font-basic;

  &__prev,
  &__next {
    &-link {
      color: $color-white-almost;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      transition: color 100ms;

      svg {
        transition: all 100ms;
      }

      &:hover svg,
      &:focus svg {
        color: $color-yellow;
        transform: scale(1.2);
      }

      &:hover,
      &:focus {
        color: $color-yellow;
        text-decoration: none !important;
      }

      &--disable {
        display: none;
      }
    }
  }

  &__prev {
    text-align: left;
  }

  &__next {
    text-align: right;
    margin-left: auto;
  }
}
