/** 
 * Generic
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import '~prismjs/themes/prism.css';

html {
  font-size: $typographic-root-font-size;
}

body {
  margin: 0 0 0 calc(100vw - 100%);
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-gray-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none !important;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
    text-decoration: underline !important;
  }
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  color: $color-white-almost;
  display: block;
  height: 18px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 18px;
  background-image: linear-gradient(
    to bottom,
    transparent 1px,
    transparent 8px,
    $color-white-almost 8px,
    $color-white-almost 10px,
    transparent 10px,
    transparent 18px
  );
  width: 100px;
}

b,
strong {
  font-weight: 700;
}

ul {
  @include margin-bottom(1);
  color: $color-white-almost;

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

p {
  @include line-height(1);
  @include margin-bottom(1);
}

blockquote {
  border-left: 3px solid $color-gray-medium;
  background-color: #1d1e20;
  border-radius: 0 5px 5px 0;

  p {
    padding: 7px 0.75rem;
  }
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

.anchor svg {
  fill: $color-white-almost;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

.blue-text {
  color: $color-blue;
}

.light-pink-text {
  color: $color-pink-light;
}

.dark-pink-text {
  color: $color-pink-dark;
}

.yellow-text {
  color: $color-yellow;
}

.light-gray-text {
  color: $color-gray-light;
}

.copyright-footer-wrapper {
  margin-top: 20px;
}

@include breakpoint-sm {
  .copyright-footer-wrapper {
    display: none;
  }
}

.gatsby-code-header {
  margin: 10px 0 0 0;
}

.gatsby-code-header h5 {
  display: inline-block;
  margin: 0;
  padding: 2px 20px;
  background-color: #1e1e1e;
  border-radius: 5px 5px 0px 5px;
  color: white;
}
