@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.copyright {
  font-size: 10px;
  font-family: $typographic-font-basic;
  margin-top: 10px;

  &__dot {
    margin: 0px 3px;
  }
}
