@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
    box-shadow: 10px 10px 20px black;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(0.5, 0, 0.5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1);
  }

  &__tagline {
    font-family: $typographic-font-mono;
    color: $color-white-almost;
    font-size: 20px;
    margin: 1.5rem 0rem 2rem;
    line-height: 1.2;
    text-align: center;
  }

  &__creds {
    font-family: $typographic-font-basic;
    color: $color-gray-medium;
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: center;

    a {
      color: $color-gray-medium;

      &:hover,
      &:active {
        color: $color-gray-medium;
      }
    }
  }
}
