@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.contacts {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 150px;

  a {
    color: $color-gray-light !important;
    width: 20px;
  }

  &__link {
    cursor: pointer;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
  }

  &__about:hover svg,
  &__twitter:hover svg {
    color: $color-yellow !important;
  }

  &__github {
    margin-top: -1px;
  }

  &__github:hover svg {
    color: $color-pink-dark !important;
  }

  &__email:hover svg {
    color: $color-pink-light !important;
  }

  &__linkedin:hover svg {
    color: $color-blue !important;
  }
}
