@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.contacts {
  @include margin-bottom(0.5);

  display: flex;
  width: 100%;
  justify-content: space-around;

  a {
    color: $color-gray-light !important;
  }

  &__link {
    cursor: pointer;
  }

  &__code:hover svg,
  &__twitter:hover svg {
    color: $color-yellow !important;
  }

  &__github:hover svg {
    color: $color-pink-dark !important;
  }

  &__email:hover svg {
    color: $color-pink-light !important;
  }

  &__linkedin:hover svg {
    color: $color-blue !important;
  }
}
